# Gemini AI
GEMINI_API_KEY=AIzaSyA5Ub_iLFRC3-iZtpr_zPNhQIjmFBEjQVo

# WhatsApp Cloud API
WHATSAPP_PHONE_NUMBER_ID=1056352557552310
WHATSAPP_PHONE_NUMBER=15551533619
WHATSAPP_VERIFY_TOKEN=my_verify_token_123

# Database
DATABASE_URL=postgresql://neondb_owner:npg_Pn0ygDjo6CTx@ep-raspy-sound-ainofmej-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require

# Server
PORT=3001
WHATSAPP_API_TOKEN=EAALaD6aAKZAgBQ5v2jaF160VZCEzCZBQ1yBdTgjQDj8fnoaTwJAOvIuBZCmcrsAuhcSZCpL9zWi9gZBLqQS6tmF9hAmntXhthMVEZA9XZCy7wVSXP1TWOoRfBZCGPA3qfYpWdMPSwzZA7ZBgRXDmx1K3Fvju5qWjZBnelYmypPHkeHfUpjoUVRsgMc7LZC3ZA1dTVOI1e2FdpAA5mmNAvnZBqiUnLDDsZA9CSTic4YNorW0CuDR2

GROQ_API_KEY=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

# Google Drive Integration
GDRIVE_CLIENT_ID=235797705732-segbok6poopa9lpet69qjl69svfd9bv3.apps.googleusercontent.com
GDRIVE_CLIENT_SECRET=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
GDRIVE_FOLDER_ID=1ezBkY4eoMvZumy3PEcbLO7bs6VNAaBz9
GDRIVE_REFRESH_TOKEN=1//0gP_OCfRRmLSwCgYIARAAGBASNwF-L9IrMiLiz8nkgeibZFrC_t5ix5JK1ta4wn5-cyPe5MRCzd7KM3gjTyBWpJ3nWcTdeT24QNA