# WhatsApp Cloud API - Get from https://developers.facebook.com
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=my_secret_verify_token_123

# Database
DATABASE_URL=file:./dev.db

# Server
PORT=3001

GROQ_API_KEY=;ffefre